* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  prom {
    opacity: 1;
  }
}
@keyframes crossbar {
  from {
    opacity: 0;
    width: 0;
  }
  prom {
    opacity: 1;
    width: auto;
  }
}
.header-heading {
  justify-content: space-between;
  display: flex;
  background-color: #1a1a1a;
  height: 46px;
}
.heading-setting {
  display: flex;
}
.setting-language {
  display: flex;
  /* background-color: salmon; */
  height: 100%;
  width: 104px;
  text-align: center;
  border-right: 1px solid #ccc;

  align-items: center;
}

.language-icons {
  color: #fff;
  padding: 0 12px;
  cursor: pointer;
}
.language-name {
  padding: 0 1px;
  color: #fff;
  font-weight: 500;
}
.setting-form:hover {
  background-color: #2a2a2a;
}
.setting-language:hover {
  background-color: #413e3e;
}
.logo-img {
  display: flex;
}
.logo-img {
  height: 100%;
  align-items: center;
  padding: 0 4px;
}
.img-list {
  height: 25px;
  margin: 0 4px;
  padding: 0 4px;
  cursor: pointer;
}
.setting-form {
  width: 154px;
  padding: 0 16px;
  height: 100%;
  align-items: center;
  position: relative;
}
.form-user {
  display: flex;
  height: 100%;
  align-items: center;
  cursor: pointer;
}
.user-icons {
  color: #fff;
  font-size: 16px;
}
.user-name {
  padding: 0 12px;
  color: #fff;
  font-size: 16px;
}

.subnav {
  min-width: 154px;
  display: none;
  background-color: #883737;
  position: absolute;
  top: 1;
  left: 0;
  padding: 0 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.subnav-item {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 8px 16px;
  margin: 8px 0;
  cursor: pointer;
}
a {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
.setting-form:hover .subnav {
  display: block;
}
.header-nav {
  display: flex;
  height: 75px;
  background-color: #c70101;
  box-shadow: 0 4px 1px 0 rgba(112, 106, 106, 0.4);
}
.nav-item {
  display: flex;
}

.nav-images {
  width: 102px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.images-logo {
  width: 60px;
  height: 60px;
}
.item-link {
  padding: 0 8px;
}
.link-label {
  line-height: 75px;
  font-size: 18px;
  font-weight: 700;
}
.item-link:hover {
  border-bottom: 5px solid #fff;
  /* transition: 1s; */
  animation: fadeIn linear 1s;
}
/*Container--App*/
.app-contaier {
  margin-top: 30px;
}
.home-item {
  width: 685px;
  height: 386px;
  display: flex;
  border: 1px solid #cccc;
  border-radius: 10px;
  overflow: hidden;
}
.item-img {
  width: 50%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}
.img {
  width: 100%;
  height: 100%;
  background: center;
  opacity: 0.9;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 1s;
}
.home-item:hover {
  box-shadow: #9fa2a4 0px 0px 4px 0px;
}
.home-item:hover .img,
.img:hover {
  transform: scale(1.2);
}
.item-list {
  width: 50%;
  padding: 8px 12px;
  position: relative;
}
.list-crossbar {
  margin-left: 8px;
  height: 2px;
  display: none;
  width: 70px;
  background-color: #c70101;
}
.home-item:hover .list-crossbar {
  display: block;
  animation: crossbar linear 0.5s;
}
.heading-title {
  font-size: 22px;
  font-family: Segoe UI;
  line-height: 22px;
  margin: 16px 8px;
}
.list-teasure {
  margin: 16px 8px;
  font-size: 16px;
  line-height: 22px;
}
.list-active {
  width: 310px;
  padding: 20px 8px;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
}
.active-category {
  display: flex;
  font-weight: 500;
  color: #1a1a1a;
  font-size: 14px;
}
.category-time {
  height: 12px;
  padding: 0 8px 0 0;
  border-right: 1px solid #1a1a1a;
  /* text-align: center; */
  line-height: 12px;
}
.category-new {
  padding: 0 0 0 8px;
  height: 12px;
  /* border-right: 1px solid #1a1a1a; */
  /* text-align: center; */
  line-height: 12px;
}
.category-icons {
  font-size: 14px;
  cursor: pointer;
}
