* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  prom {
      opacity: 1;
  }
}
.header-heading {
  justify-content: space-between;
  display: flex;
  background-color: #1a1a1a;
  height: 46px;
}
.heading-setting {
  display: flex;
}
.setting-language {
  display: flex;
  /* background-color: salmon; */
  height: 100%;
  width: 104px;
  text-align: center;
  border-right: 1px solid #ccc;
 
  align-items: center;
}

.language-icons {
  color: #fff;
  padding: 0 12px;
  cursor: pointer;
}
.language-name {
  padding: 0 1px;
  color: #fff;
  font-weight: 500;
}
.setting-form:hover {
  background-color: #2a2a2a;
}
.setting-language:hover {
  background-color: #413e3e;
}
.logo-img {
  display: flex;
}
.logo-img {
  height: 100%;
  align-items: center;
  padding: 0 4px;
}
.img-list {
  height: 25px;
  margin: 0 4px;
  padding: 0 4px;
  cursor: pointer;
}
.setting-form {
  width: 154px;
  padding: 0 16px;
  height: 100%;
  align-items: center;
  position: relative;
}
.form-user {
  display: flex;
  height: 100%;
  align-items: center;
  cursor: pointer;
}
.user-icons {
  color: #fff;
  font-size: 16px;
}
.user-name {
  padding: 0 12px;
  color: #fff;
  font-size: 16px;
}

.subnav {
  min-width: 154px;
  display: none;
  background-color: #883737;
  position: absolute;
  top: 1;
  left: 0;
  padding: 0 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.subnav-item {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 8px 16px;
  margin: 8px 0;
  cursor: pointer;
}
a {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
.setting-form:hover .subnav {
  display: block;
}
.header-nav {
  display: flex;
  height: 75px;
  background-color: #c70101;
  box-shadow: 0 4px 1px 0 rgba(112, 106, 106, 0.4);
}
.nav-item {
  display: flex;
}

.nav-images {
  width: 102px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.images-logo {
  width: 60px;
  height: 60px;
  background-color: #c70101;
}
.item-link {
  padding: 0 8px;
}
.link-label {
  line-height: 75px;
  font-size: 18px;
  font-weight: 700;
}
.item-link:hover {
  border-bottom: 5px solid #fff;
  /* transition: 1s; */
  animation: fadeIn linear 1s;
}
